body {
max-width: 100%;
max-height: auto;
background-color: rgb(195, 168, 238);
}

.container {
display: flex;
padding: 250px;
border: 4px solid rgb(139, 57, 233);
width: 100%x;
height: auto;
}

button {
display: grid;
padding: 15px;
margin: 5px;
background-color:rgb(156, 176, 233);
border: 3px solid black;
}

